body {
    background-image: url('/assets/bio-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

body.christmas {
    background-image: url('/assets/bio-bg-christmas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

body.easter {
    background-image: url('/assets/bio-bg-easter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

body.halloween {
    background-image: url('/assets/bio-bg-halloween.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

body.epiphany {
    background-image: url('/assets/bio-bg-epiphany.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

body.newyear {
    background-image: url('/assets/bio-bg-newyear.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
}

.avatar {
    width: 120px;
    height: 120px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform .65s, padding-bottom .65s;
}

.avatar:hover {
    transform: scale(1.35);
    padding-bottom: 30px;
}

.name {
    color: #fff;
    text-align: center;
    font-size: 25px;
    transition: transform .65s;
}

.name:hover {
    transform: scale(1.18);
}

.name-bg {
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 13px;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

.social {
    width: 53px;
    padding-left: 8px;
    padding-right: 8px;
    transition: transform .65s;
}

.social:hover {
    transform: scale(1.35);
}

.socials {
    margin: auto;
    display: flex;
    justify-content: center;
}

.discord-data {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.discord-data a {
    display: flex;
}

.discord-data img {
    padding: 5px;
}

.socials-bg {
    padding: 15px;
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 22px;
}

.social.youtube {
    padding-top: 4px;
}

.social.tiktok {
    width: 48px;
}

.social.revolt {
    width: 40px;
}

.social.revolt.desktop {
    padding-top: 5px;
}

.social.mastodon {
    width: 45px;
}

.social.mastodon.desktop {
    padding-top: 5px;
}

.social.steam {
    width: 47px
}

#socials-2 {
    padding-top: 15px;
}

#socials-3 {
    padding-top: 15px;
}

.social-url {
    display: none;
    font-weight: bold;
    text-decoration: none;
}

.social-url.discord {
    color: #5865F2;
}

.social-url.twitch {
    color: #823FE6;
}

.social-url.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-url.github {
    color: #171516;
}

.social-url.telegram {
    color: #268EC3;
}

.social-url.youtube {
    color: #E60000;
}

.social-url.twitter {
    color: #1A8CD8;
}

.social-url.spotify {
    color: #1ED760;
}

.social-url.tiktok {
    background: linear-gradient(90deg, #FD3E3E, #ffffff, #4DE8F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-url.revolt {
    color: #E6404C;
}

.social-url.reddit {
    color: #E63E00;
}

.social-url.mastodon {
    color: #5840d6;
}

.social-url.steam {
    color: #152e5b;
}

.social-url:hover {
    filter: brightness(0.8);
}

.small-social-logo {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    padding-right: 5px;
    display: none;
}

.collapsible-content-image {
    width: 100%;
    display: none;
}

.collapsible-content-image.desktop {
    width: 24.7%;
    display: none;
    vertical-align: top;
}

.code-block {
    white-space: nowrap;
    border-radius: 5px;
    background-color: #2D2D2D;
    background-attachment: fixed;
    width: 100%;
    max-height: 350px;
    overflow: scroll;
    display: none;
}

.code-block.code {
    display: inline;
}

.code-block.code.comment {
    color: #8B8B8B;
}

.code-block.code.default {
    color: #D8D8D8;
}

.code-block.code.declaration {
    color: #A46CA7;
}

.code-block.code.constant {
    color: #B653BB;
}

.code-block.code.new {
    color: #5196D1;
}

.code-block.code.function-class {
    color: #D0CC7E;
}

.code-block.code.operators {
    color: #66ABA9;
}

.code-block.code.undefined {
    color: #5196D1;
}

.code-block.code.objectProperty {
    color: #D0B46E;
}

.code-block.code.string {
    color: #5DB47D;
}

.code-block.code.integer {
    color: #D58951;
}

.code-block.code.bracket.layer1 {
    color: #D1BC47;
}

.code-block.code.bracket.layer2 {
    color: #90578E;
}

.code-block.code.bracket.layer3 {
    color: #418AB7;
}

#unknown-char1, #unknown-char2 {
    font-size: 17px;
}

.spoiler {
    color: transparent;
    background-color: rgba(54, 47, 46, 1);
    border-radius: 5px;
    display: none;
}

.ghstat.desktop {
    display: none;
}

.embed-github {
    display: none;
    padding: 5px;
    vertical-align: top;
}

.desktop-site {
    display: block;
}

.collapsible-content::-webkit-scrollbar{
    display: none;
}

.collapsible {
    padding: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

.collapsible-button {
    display: block;
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid #a2a3a5;
    text-align: left;
    color: white;
    border-radius: 25px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.collapsible-button::after {
    content: '˅';
    float: right;
    transition: transform 0.3s;
    transform: rotate(0deg)
}

.collapsible-button.active::after {
    content: '˅';
    float: right;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible-content {
    overflow: hidden;
    height: 25px;
    max-height: 75vh;
    overflow-y: scroll;
    transition: height 0.4s, padding 0.4s;
    padding: 0 15px;
    border: 4px solid #a2a3a5;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0px;
    color: transparent;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.button-redirect {
    display: block;
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid #a2a3a5;
    text-align: left;
    color: white;
    border-radius: 25px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button-redirect-2 {
    overflow: hidden;
    height: 25px;
    max-height: 75vh;
    overflow-y: scroll;
    transition: height 0.4s, padding 0.4s;
    padding: 0 15px;
    border: 4px solid #a2a3a5;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0px;
    color: transparent;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mobile-site {
    display: none;
}

@media only screen and (max-width: 720px) {
    .desktop-site {
        display: none;
    }
    
    .mobile-site {
        display: block;
    }
}

::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar { width: 0 !important }

* {
    scrollbar-width: none;
}

#jBox1 > .jBox-container, #jBox2 > .jBox-container {
    background-color: #3342dd;
    border: 3px solid #212b90;
}

#jBox3 > .jBox-container, #jBox4 > .jBox-container {
    background-color: #6b33b2;
    border: 3px solid #3d1d65;
}

#jBox5 > .jBox-container, #jBox6 > .jBox-container {
    background-color: #e52a5d;
    border: 3px solid #981b3d;
}

#jBox7, #jBox8 {
    color: #ffffff;
}

#jBox7 > .jBox-container, #jBox8 > .jBox-container {
    background-color: #313131;
    border: 3px solid #000000;
}

#jBox9 > .jBox-container, #jBox10 > .jBox-container {
    background-color: #2279a7;
    border: 3px solid #12415a;
}

#jBox11 > .jBox-container, #jBox12 > .jBox-container {
    background-color: #b20000;
    border: 3px solid #600000;
}

#jBox13 > .jBox-container, #jBox14 > .jBox-container {
    background-color: #0087bb;
    border: 3px solid #004f6e;
}

#jBox15 > .jBox-container, #jBox16 > .jBox-container {
    background-color: #12a449;
    border: 3px solid #095726;
}

#jBox17 > .jBox-container, #jBox18 > .jBox-container {
    background-color: #af0035;
    border: 3px solid #62001d;
}

#jBox19 > .jBox-container, #jBox20 > .jBox-container {
    background-color: #b12f00;
    border: 3px solid #641a00;
}

#jBox21 > .jBox-container, #jBox22 > .jBox-container {
    background-color: #b2303a;
    border: 3px solid #651b21;
}

#jBox23 > .jBox-container, #jBox24 > .jBox-container {
    background-color: #4433a5;
    border: 3px solid #241b58;
}

#jBox25 > .jBox-container, #jBox26 > .jBox-container {
    background-color: #122b60;
    border: 3px solid #071539;
}
