.code-block-url {
	@apply text-inherit;
}

s {
	@apply line-through decoration-[1.7px];
}

@-webkit-keyframes cray {
	2% {
		font-weight: 700;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	4% {
		font-weight: 100;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	6% {
		font-weight: 100;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}
	8% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	10% {
		font-weight: 100;
		font-style: italic;
		text-decoration: underline;
		text-transform: none;
	}
	12% {
		font-weight: 500;
		font-style: normal;
		text-decoration: line-through;
		text-transform: uppercase;
	}
	14% {
		font-weight: 700;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;
	}
	16% {
		font-weight: 400;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	18% {
		font-weight: 600;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	20% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	22% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	24% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	26% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	28% {
		font-weight: 400;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	30% {
		font-weight: 600;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	32% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	34% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	36% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	38% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	40% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	42% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: uppercase;
	}
	44% {
		font-weight: 700;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	46% {
		font-weight: 100;
		font-style: normal;
		text-decoration: underline;
		text-transform: uppercase;
	}
	48% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	50% {
		font-weight: 700;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	52% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
	54% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	56% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	58% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	60% {
		font-weight: 300;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	62% {
		font-weight: 300;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}
	64% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	66% {
		font-weight: 200;
		font-style: normal;
		text-decoration: underline;
		text-transform: lowercase;
	}
	68% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	70% {
		font-weight: 200;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;
	}
	72% {
		font-weight: 100;
		font-style: normal;
		text-decoration: line-through;
		text-transform: lowercase;
	}
	74% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	76% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	78% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	80% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	82% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	84% {
		font-weight: 500;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	86% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
	88% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	90% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	92% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	94% {
		font-weight: 500;
		font-style: normal;
		text-decoration: line-through;
		text-transform: capitalize;
	}
	96% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
	98% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
}

@keyframes cray {
	2% {
		font-weight: 700;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	4% {
		font-weight: 100;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	6% {
		font-weight: 100;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}
	8% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	10% {
		font-weight: 100;
		font-style: italic;
		text-decoration: underline;
		text-transform: none;
	}
	12% {
		font-weight: 500;
		font-style: normal;
		text-decoration: line-through;
		text-transform: uppercase;
	}
	14% {
		font-weight: 700;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;
	}
	16% {
		font-weight: 400;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	18% {
		font-weight: 600;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	20% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	22% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	24% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	26% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	28% {
		font-weight: 400;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	30% {
		font-weight: 600;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}
	32% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	34% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	36% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	38% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	40% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	42% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: uppercase;
	}
	44% {
		font-weight: 700;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	46% {
		font-weight: 100;
		font-style: normal;
		text-decoration: underline;
		text-transform: uppercase;
	}
	48% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	50% {
		font-weight: 700;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	52% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
	54% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	56% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}
	58% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	60% {
		font-weight: 300;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	62% {
		font-weight: 300;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}
	64% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	66% {
		font-weight: 200;
		font-style: normal;
		text-decoration: underline;
		text-transform: lowercase;
	}
	68% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	70% {
		font-weight: 200;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;
	}
	72% {
		font-weight: 100;
		font-style: normal;
		text-decoration: line-through;
		text-transform: lowercase;
	}
	74% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	76% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	78% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	80% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	82% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	84% {
		font-weight: 500;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}
	86% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
	88% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	90% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	92% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	94% {
		font-weight: 500;
		font-style: normal;
		text-decoration: line-through;
		text-transform: capitalize;
	}
	96% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
	98% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
}
