@font-face {
    font-family: "receipt";
    src: url("/__fonts/receipt.ttf") format("truetype");
}

body {
    background-image: url("/__assets/receiptBackground.webp");
    font-family: "receipt";
    margin-right: 30px;
    margin-left: 30px;
}

.receipt {
    max-width: 558px;
    display: none;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.divider {
    height: 5px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 2px;
}

.align-right {
    text-align: right;
    padding-right: 0;
}

.align-right.tot-time {
    padding-left: 10px;
}

.align-center {
    text-align: center;
}

.spotify-logo {
    max-height: 50px;
}

.playCount {
    padding-right: 15px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 3px;
}

.bold {
    font-weight: bold;
}

table {
    width: 100%;
    max-width: 100%;
}

.min-width {
    min-width: 160px;
}

#inputs {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input:not([required]) {
    background-color: #f0f0f0;
}

input[type="text"]:invalid,
input[type="number"]:invalid {
    border-color: #ff4a4a;
    background-color: #ffeeee;
    color: #ff0000;
}

button[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button.spotify,
button.download {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #1cc357;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#thanksInput {
    font-style: italic;
    color: #555;
}

.song-url {
    color: black;
    text-decoration: none;
}