body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #612181;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #43165a;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1.bot-name {
    margin: 10px 0;
}

header img.bot-avatar {
    max-width: 60px;
    border-radius: 50%;
}

.invite-button, .support-button {
    background-color: #340c47;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.feature {
    background-color: #3d0c56;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.feature > h2 {
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.owner-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

.owner-avatar {
    max-width: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.owner-name {
    font-size: 18px;
}

.bot-description {
    text-align: center;
    background-color: #f5f5f500;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mobile-site > section > .bot-description {
    padding-top: 0px;
}

.bot-invite {
    text-decoration: none;
    color: white
}

ul {
    margin-left: -30px;
}

li {
    margin-top: 10px;
}

.mobile-site {
    display: none;
}

@media only screen and (max-width: 720px) {
    .desktop-site {
        display: none;
    }
    
    .mobile-site {
        display: block;
    }
}

::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar { width: 0 !important }

* {
    scrollbar-width: none;
}